.currentProfile {
    background:#fff;
    margin:0 auto;
    width: 95%;
}

.tasksBox {
    background-image: url('../../img/bg/bg-gray-tile.png');
    position: relative;
    padding: 30px 0;
}

.tasksBox h1 {
    color: #00355D;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 40px;
    margin-left: 30px;
    padding-top: 40px;
}

.tasksBox h2 {
    color: #00355D;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 32px;
    margin-left: 30px;
    padding-top: 10px;
}

.tasksBox a {
    text-decoration: none!important;
    color: black;
}

.tasksBox a:hover {
    color: #54AAEC;
}

.basicInfo{
	background: #C7E4F3!important;
}

.saveBasicInfoBtn{
    background: #54AAEC;
    color: white;
    display: inline-block;
    padding: 9px 22px;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    font-family: Roboto;
    margin: 20px 0;

}

.textArea {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	background:#F7F7F7;
	border-radius: 10px;
}
