.row {
    margin: 0 !important;
}

.tasksBox {
    height: 350px;
    background-image: url('../../img/bg/bg-blue-tile.png');
    cursor: pointer;
}

.assignBox {
    height: 350px;
    background-image: url('../../img/bg/bg-yellow-tile.png');
    cursor: pointer;
}

.scheduleBox {
    height: 350px;
    background-image: url('../../img/bg/bg-green-tile.png');
    cursor: pointer;
}

.box {
    padding: 0;
}

.box img {
    border-radius: 55px;
    width: 100px;
    position: relative;
    top: 70px;
    display: block;
    margin: auto;
}

h1.boxTitle {
    margin: auto;
    display: block;
    text-align: center;
    font-size: 25px;
    position: relative;
    top: 140px;
    font-weight: bold;
    color: #00486E;
}

.activity h2 {
    color: #00486E;
    font-weight: bold;
}

.activity h3 {
    font-weight: 500;
    text-transform: uppercase;
}

ul.feed {
    list-style: none;
    padding: 0 15px;
    font-size: 18px;
    line-height: 20px;
    color: #555555;
}

.feed li {
    margin: 0 0 25px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ebebed;
    width: 100%;
}

.feed span {
    margin: 0 10px 0 0;
    float: left;
    font-size: 25px;
}

.moreFeed {
    font-weight: bold;
    font-size: 16px;
    float: right;
    margin: 10% 5% 0 0;
    color: #555555;
    cursor: pointer;
}
