.tasksBox {
    height: 260px;
    background-image: url('../../img/bg/bg-blue-tile.png');
    cursor: pointer;
}

.tasksBox h1 {
    margin: 0 11%;
    font-weight: bold;
    color: #00486E;
    line-height: 40px;
    font-size: 38px;
}

.scheduleBox {
    height: 260px;
    background-image: url('../../img/bg/bg-yellow-tile.png');
    cursor: pointer;
}

.scheduleBox h1 {
    margin: 0 11%;
    font-weight: bold;
    color: #00486E;
    line-height: 40px;
    font-size: 38px;
}

h1 img {
    border-radius: 55px;
    width: 100px;
    float: left;
    position: relative;
    top: 80px;
    left: 25px;
}

h1.boxTitle {
    position: relative;
    top: 32%;
    left: -10%;
    margin: 0 0 0 50%;
}

.activity h2 {
    color: #00486E;
    font-weight: bold;
}

.activity h3 {
    font-weight: 500;
    text-transform: uppercase;
}

ul.feed {
    list-style: none;
    padding: 0 15px;
    font-size: 18px;
    line-height: 20px;
    color: #555555;
}

.feed li {
    margin: 0 0 25px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ebebed;
    width: 100%;
}

.feed span {
    margin: 0 10px 0 0;
    float: left;
    font-size: 25px;
}

.moreFeed {
    font-weight: bold;
    font-size: 16px;
    float: right;
    margin: 10% 5% 0 0;
    color: #555555;
    cursor: pointer;
}
