body {
    background-image: url(../../img/bg/bg-gray-tile.png);
}

p {
    font-family: "San Francisco";
    color: #163850;
    font-size: 11px;
    line-height: 12px;
}

.newTaskBtn{
    background: #919191;
}

footer{
    background-color: #fff;
    height: auto;
    padding: 3rem;
}
