.profilesBox {
    background-image: url('../../img/bg/bg-gray-tile.png');
    text-align: center;
    position: relative;
    padding: 30px 0;
}

.profilesBox h1 {
    color: #00355D;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 40px;
}

.currentProfile {
    background:#fff;
    margin:0 auto;
    width: 95%;
}

.studentList {
    list-style-type: none;
}
