body {
    background-image: url(../../img/bg/bg-gray-tile.png);
}

p {
    font-family: "San Francisco";
    color: #163850;
    font-size: 11px;
}

.profile-accordion div {
    background-color: #fff !important;
}

.profile-accordion a {
    text-decoration: none;
    cursor: pointer;
}

.profile-acc img {
    width: 6%;
    margin-right: 25px;
}

.profile-acc i {
    font-weight: normal;
    color: #9e9e9e;
    font-size: 25px;
    float: right;
    margin: 25px 0 0 0;
    cursor: pointer;
}

.emergency-acc img {
    width: 6%;
    margin-right: 25px;
}

.emergency-acc i {
    font-weight: normal;
    color: #9e9e9e;
    font-size: 25px;
    float: right;
    margin: 25px 0 0 0;
    cursor: pointer;
}

.profile-form {
    margin-left: 3%;
    width: 90%;
}

.profile-form label {
    color: #555;
    font-weight: bold;
    letter-spacing: 1px;
}

.profile-form button {
    float: right;
}

.profile-form h4 {
    color: #00486E;
}

.form-heading {
    padding: 10px 0 0;
    border-bottom: 1px solid #00486E;
    margin: 0 0 15px;
}


.changeStudentSchedule {
    color: #00486E;
    margin-left: 36px;
}

.row .newTaskBtn {
    margin: 5px 0 5px 50px !important;
}

footer{
    background-color: #fff;
    height: auto;
    padding: 3rem;
}
