body {
    background-image: url(../../img/bg/bg-gray-tile.png);
}

p {
    font-family: "San Francisco";
    color: #163850;
    font-size: 11px;
}

span.date {
    margin-left:10px;
    margin-top:-50px;
}

span.startTime {
    margin-left:-18px;
    margin-top:-50px;
}

span.endTime {
    margin-left: -5px;
    margin-top: -50px;
}

.checkBox label {
    margin-left:20px;
    font-size: 14px;
    color: #163850;
}

.checkBox input {
    transform: scale(2.0);
    margin: 18% 10% 0 -20%;
}

div#webuiPopover0 {
    left: 867.547px !important;
    top: 558.453px !important;
}

.changeStudentSchedule {
    color: #00486E;
    margin-left: 36px;
}

.viewWeeklyScheduleBtn{
    background: #20a7e1;
    color: white;
    display: inline-block;
    padding: 9px 22px;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    margin: 27px 30px;
    width: 66%;
}

.viewWeeklyScheduleBtn:hover {
    background: #00486e;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.modal-title {
    color: #00486E;
}

.supporter-dropdown button {
    background: #00486E;
    color: #fff;
    width: 65%;
    font-size: 20px;
    text-align: left;
    letter-spacing: 2px;
    font-weight: bold;
}

.supporter-dropdown span {
    font-size: 25px;
}

.caret {
    border-top: 10px dashed !important;
    border-right: 10px solid transparent !important;
    border-left: 10px solid transparent !important;
}

.supporter-dropdown ul {
    width: 65%;
    padding: 10px;
    color: #00486E;
}

.fake-input {
    width:1px;
    background-color: #fff;
    border-color: #fff;
}

.fake-button {
    background-color: transparent;
    border-color: transparent;
    color: #919191;
}

.row .newTaskBtn {
    margin: 5px 0 5px 50px !important;
}

footer{
    background-color: #fff;
    height: auto;
    padding: 3rem;
}
