.currentProfile {
    background:#fff;
    margin:0 auto;
    width: 95%;
}

.tasksBox {
    background-image: url('../../img/bg/bg-gray-tile.png');
    position: relative;
    padding: 30px 0;
}

.tasksBox h1 {
    color: #00355D;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 40px;
    margin-left: 30px;
}

.tasksBox h2 {
    color: #00355D;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 32px;
    margin-left: 30px;
    padding-top: 10px;
}

.changeStudentShedule {
    color: #00355D;
    margin-left: 36px;
}

.viewWeeklyScheduleBtn{
    background: #54AAEC;
    color: white;
    display: inline-block;
    padding: 9px 22px;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    margin: 27px 30px;
    width: 66%;

}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.modal-title {
    color: #00355D;
}

.supporter-dropdown button {
    background: #00355D;
    color: #fff;
    width: 65%;
    font-size: 20px;
    text-align: left;
    letter-spacing: 2px;
    font-weight: bold;
}

.supporter-dropdown span {
    font-size: 25px;
}

.caret {
    border-top: 10px dashed !important;
    border-right: 10px solid transparent !important;
    border-left: 10px solid transparent !important;
}

.supporter-dropdown ul {
    width: 65%;
    padding: 10px;
    color: #00355D;
}
