body {
    background-image: url(../../img/bg/bg-gray-tile.png);
}

.table{
    margin-left: 10px;
}

.showMoreTasks{
    color: #20a7e1 !important;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-bottom: 1px solid #ddd!important;
}

.table .tdTitle{
    font-size: 20px;
}

.scheduleBox {
    height: 260px;
    background-image: url('../../img/bg/bg-yellow-tile.png');
}

.scheduleBox h1 {
    margin: 0 11%;
    font-weight: bold;
    color: #00486E;
    line-height: 40px;
    font-size: 40px;
}

h1 i.fa {
    font-size: 50px;
    color: white;
    background: #00486E;
    border-radius: 55px;
    height: 100px;
    width: 100px;
    padding: 25px 0 0 0;
    float: left;
    position: relative;
    top: 80px;
    left: 25px;
    text-align: center;
}

h1.boxTitle {
    position: relative;
    top: 32%;
    left: -10%;
    margin: 0 0 0 50%;
}

.activity h2 {
    color: #00486E;
    font-weight: bold;
}

.activity h3 {
    font-weight: 500;
    text-transform: uppercase;
}

ul.feed {
    list-style: none;
    padding: 0 15px;
    font-size: 20px;
    font-weight: bold;
}

.feed li {
    margin: 0 0 25px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ebebed;
    width: 100%;
}

.feed span {
    margin: 0 10px 0 0;
    float: left;
    font-size: 25px;
}

.moreFeed {
    font-weight: bold;
    font-size: 16px;
    float: right;
    margin: 0 5% 0 0;
}

footer{
    background-color: #ebebed;
    height: auto;
    padding: 3rem;
}

.foot img {
    width: 200px;
    float: right;
}

.info h4 {
    color: #20A7E1;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}

.info h6 {
    color: #00486E;
    font-weight: bold;
    letter-spacing: 1px;
}

footer{
    background-color: #fff;
    height: auto;
    padding: 3rem;
}

/** Preview Task **/

@media (min-width: 768px) {
    .modal-sm {
        width: 320px !important;
        height: 568px !important;
        overflow: auto;
    }
}

.modal-header {
    border-bottom: none !important;
}

.modal-body {
    padding: 0 20px !important;
}

h4#myModalLabel {
    text-align: center;
    font-size: 14px;
    color: #919191;
}

i.fa.fa-eye {
    color: #20A7E1;
}

.task-title {
    height: 100px;
}

.task-title img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
}

.task-title h3 {
    color: #00486E;
    font-size: 20px;
    padding-top: 10px;
}

.task-item {
    height: 100px;
    margin-bottom: 20px;
}

.task-item img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
}

.task-item p {
    color: #00486E;
    margin: 0;
}

p.task-text {
    color: #919191;
}
