body {
    background-image: url(../../img/bg/bg-gray-tile.png);
}

.nav-pills>li.active>a {
	background-color: #20A7E1 !important;
	color: #fff !important;
	padding: 11px 15px !important;
}

.listSchedule {
	width: 49%;
	border-radius: 5px;
	border: solid 1px #20A7E1!important;
	height: 36px !important;
}

.nav-pills>li.active>a {
    background-color: #20A7E1 !important;
    color: #fff !important;
    padding: 11px 15px !important;
}

.nav-pills>li+li {
    margin-left: 0!important;
}

.scheduleTitle {
    margin-top: 40px;
    padding: 0 !important;
    color: #38ACF5;
}

.fa-angle-left:before {
    content: "\f104";
    margin-left: -42px;
    margin-top: -26px;
    position: absolute;
}

.fa-angle-right:before {
    content: "\f105";
    margin-left: 20px;
    margin-top: -26px;
    position: absolute;
}

.time {
    margin-top: 30px!important;
    color: #0A4463!important;
    margin-left: 6px;
}

.task {
  margin: 0!important;
  padding-left: 5px!important;
  color: #0E0C42;
}

.done {
	background-image: url('../../img/icons/doneMarker.png');
    background-repeat: no-repeat;
    background-position: 100.5% -1%;
}

footer{
    background-color: #fff;
    height: auto;
    padding: 3rem;
}
