<!-- Footer -->
<footer>
    <div class="border row">
        <div class="border col-md-6">
            <div class="info">
                <h4>Information</h4>
                <h6>About IM Ready</h6>
                <h6>Maryland Learning Links</h6>
            </div>
        </div>
        <div class="border col-md-3">
            <div class="foot">
                <img src="static/img/logos/logoCTE.png" alt="CTE Logo" />
            </div>
        </div>
        <div class="border col-md-3">
            <div class="foot">
                <img src="static/img/logos/logoMSDE.png" alt="MSDE Logo" />
            </div>
        </div>
    </div>
</footer>
