<ng-include src="'templates/includes/nav.html'"></ng-include>

<div class="container" ng-controller="createTaskController">
  <div class="wrapperBox">
    <div class="currentBox">
      <h1>Create a Task</h1>

      <div id="basic">
        <h2>Basic Information</h2>
        <!-- <div class="taskImage">
          <p>Task Image</p>
          <button type="button" class="btn btn-default form-active-basic" data-toggle="modal" data-target="#upload"><i class="fa fa-picture-o" aria-hidden="true"></i><span>CHOOSE IMAGE...</span></button>
        </div> -->

        <div class="taskCategory">
          <p>Task Category</p>
          <select ng-model="formData.category" class="form-active-basic" data-width="fit">
            <option value="" disabled selected>CHOOSE CATEGORY</option>
            <option value="Education">Education</option>
            <option value="Life">Life</option>
            <option value="On the Go">On the Go</option>
            <option value="Work">Work</option>
          </select>
        </div>

        <div class="taskTitle">
          <p>Task Title</p>
          <input type="text" class="form-active-basic" placeholder='For example, "take bus to Giant"' ng-model="formData.title">
        </div>

        <!-- <div class="taskLink">
          <p>Link to YouTube video (optional)</p>
          <input type="text" class="form-active-basic" placeholder='Paste url here' ng-model="formData.video">
        </div> -->
      </div> <!-- /.end of basic -->

      <div id="special">
        <h2>Add Special Instruction</h2>
        <p><strong>Maximum 40 characters.</strong></p>
        <div class="textArea">
          <textarea class="form-control form-active-special" rows="5" maxlength="40" placeholder="Insert any special instruction for this task." ng-model="formData.help_text"></textarea>
        </div>
      </div> <!-- /.end of special -->

      <div id="adding">
        <h2>Add Steps</h2>
        <div ng-repeat="step in formData.steps track by $index">
          <p>Step {{ $index + 1 }}</p>
          <input class="form-active-adding" type="text" placeholder='For example, "take bus to Giant"' ng-model="formData.steps[$index]">
          <br />
          
        </div>

        <div class="clearfix">
          <a href="" ng-click="formData.steps.push('')" class="form-active-adding">+ Add another step...</a>
        </div>
      </div> <!-- /.end of adding -->

      <div class="clearfix">
        <button type="submit" class="saveBasicInfoBtn bottomSave" ng-click="createTask()">SAVE</button>
      </div>

    </div>
  </div>

  <!-- Footer -->
  <ng-include src="'templates/includes/footer.html'"></ng-include>
</div> <!-- /.container -->


<!-- Modal -->
<div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="alert drop" flow-drop flow-drag-enter="style={border:'2px dashed green'}" flow-drag-leave="style={}" ng-style="style" ng-class="dropClass">
          <span class="btn btn-default" flow-btn style="border-color:transparent!important; background:#20a7e1 !important; color:#fff;">Browse...<input type="file" multiple="multiple" style="visibility: hidden; position: absolute;"></span>
          <b>OR</b> Drag And Drop your file here
        </div>
        <p>
          Acceptable photo file types: jpg, jpeg, png. <br />
          Maximum size is 2MB. <br />
          <em>For best results, images should be at least 300px on either dimension.</em>
        </p>
      </div>
      <div class="modal-footer">
        <a href="" type="button"><i class="fa fa-upload" aria-hidden="true"></i> Upload</a>
        <a href="" type="button" class="cancel" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Cancel</a>
      </div>
    </div>
  </div>
</div>
<!-- /Modal -->
