<ng-include src="'templates/includes/nav.html'"></ng-include>
<!-- Page Content -->
<div class="container" ng-controller="dashboardController">

    <div class="border row">
        <div class="border col-md-6">
            <div ui-sref="task" class="tasksBox">
                <h1><img src="static/img/icons/tasks.png" /></h1>
                <h1 class="boxTitle">Create and Edit Tasks</h1>
            </div>
            <div ui-sref="schedules" class="scheduleBox">
                <h1><img src="static/img/icons/schedule.png" /></h1>
                <h1 class="boxTitle">Create and Edit Schedules</h1>
            </div>
        </div>
        <div class="border col-md-6">
            <div class="activity">
                <h2>Activity Feed</h2>
                <h3>Today</h3>
                <ul class="feed">
                    <span style="color:#f03113;"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span><li><u>First Last</u> hasn't completed Can Crushing.</li>
                    <span style="color:#408940;"><i class="fa fa-check-circle" aria-hidden="true"></i></span><li><u>First Last</u> checked out of work at such and such workplace.</li>
                    <span style="color:#3fb0e0;"><i class="fa fa-info-circle" aria-hidden="true"></i></span><li><u>First Last</u> leaves on a field trip to some place at 0:00p.m.</li>
                    <span style="color:#408940;"><i class="fa fa-check-circle" aria-hidden="true"></i></span><li><u>First Last</u> completed some other thing here.</li>
                    <span style="color:#f03113;"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span><li><u>First Last</u> some alert text here to alert supporter.</li>
                </ul>
            </div>

            <div class="moreFeed">
                <p>See all Notifications&nbsp;&nbsp; <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <ng-include src="'templates/includes/footer.html'"></ng-include>
</div>
<!-- /.container -->
