<ng-include src="'templates/includes/nav.html'"></ng-include>
<!-- Page Content -->
<div class="container" ng-controller="dashboardController">

    <div class="row">
        <div class="box col-lg-4">
            <div ui-sref="tasks" class="tasksBox">
                <img src="static/img/icons/tasks.png" />
                <h1 class="boxTitle">Create and Edit Tasks</h1>
            </div>
        </div>

        <div class="box col-lg-4">
            <div ui-sref="assign" class="assignBox">
                <img src="static/img/icons/assign.png" />
                <h1 class="boxTitle">Assign Tasks</h1>
            </div>
        </div>

        <div class="box col-lg-4">
            <div ui-sref="schedules" class="scheduleBox">
                <img src="static/img/icons/schedule.png" />
                <h1 class="boxTitle">View and Edit Schedules</h1>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <ng-include src="'templates/includes/footer.html'"></ng-include>
</div>
<!-- /.container -->
