<ng-include src="'templates/includes/nav.html'"></ng-include>

<div class="container" ng-controller="notificationsController">
	<div class="border row">
		<div class="border col-md-12">
			<div class="wrapperBox">
				<div class="currentBox" ng-repeat="user in users">
					<h1>Notifications</h1>
					<button class="newTaskBtn active" style="margin-bottom:20px">ALL STUDENTS</button>
					<button class="newTaskBtn" style="margin-bottom:20px">{{ user.first_name }} {{ user.last_name }}</button>
				</div>
			</div>
		</div>
	</div>
	<div class="border row">
		<div class="border col-md-12">
			<div class="wrapperBox" style="padding:0 0 30px 0!important;">
				<div class="currentBox">
					<div class="container">
						<h2 style="color:red;">Alerts</h2>
						<h4 style="margin-left:30px">TODAY</h4>
						<br>
						<div class="row" style="margin-bottom:10px">
							<div class="col-md-1" style="margin-left:40px">
								<span style="color:#f03113;"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>
							</div>
							<div class="col-md-1">
								<img src="static/img/bg/60.png" alt="" style="width:50px;margin-top:-10px">
							</div>
							<div class="col-md-9">
								<h4 style="margin-left:-30px; margin-top:-8px">First Last hasn't completed Can Crushing.</h4>
								<br><br>
							</div>
							<hr width=80% align="center" style="margin-left:46px">
						</div>
						<div class="row" style="margin-bottom:10px">
							<div class="col-md-1" style="margin-left:40px">
								<span style="color:#f03113;"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>
							</div>
							<div class="col-md-1">
								<img src="static/img/bg/60.png" alt="" style="width:50px;margin-top:-10px">
							</div>
							<div class="col-md-9">
								<h4 style="margin-left:-30px; margin-top:-8px">First Last hasn't completed Can Crushing.</h4>
								<br><br>
							</div>
							<hr width=80% align="center" style="margin-left:46px">
						</div>
						<div class="row" style="margin-bottom:10px">
							<div class="col-md-1" style="margin-left:40px">
								<span style="color:#f03113;"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>
							</div>
							<div class="col-md-1">
								<img src="static/img/bg/60.png" alt="" style="width:50px;margin-top:-10px">
							</div>
							<div class="col-md-9">
								<h4 style="margin-left:-30px; margin-top:-8px">First Last hasn't completed Can Crushing.</h4>
								<br><br>
							</div>
							<hr width=80% align="center" style="margin-left:46px">
						</div>
					</div>

					<div class="container">
						<h2 style="color:#00355D;">Activity</h2>
						<h4 style="margin-left:30px">TODAY</h4>
						<br>
						<div class="row" style="margin-bottom:10px">
							<div class="col-md-1" style="margin-left:40px">
								<span style="color:#408940;"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
							</div>
							<div class="col-md-1">
								<img src="static/img/bg/60.png" alt="" style="width:50px;margin-top:-10px">
							</div>
							<div class="col-md-9">
								<h4 style="margin-left:-30px; margin-top:-8px">First Last hasn't completed Can Crushing.</h4>
								<br><br>
							</div>
							<hr width=80% align="center" style="margin-left:46px">
						</div>
						<div class="row" style="margin-bottom:10px">
							<div class="col-md-1" style="margin-left:40px">
								<span style="color:#3fb0e0;"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
							</div>
							<div class="col-md-1">
								<img src="static/img/bg/60.png" alt="" style="width:50px;margin-top:-10px">
							</div>
							<div class="col-md-9">
								<h4 style="margin-left:-30px; margin-top:-8px">First Last hasn't completed Can Crushing.</h4>
								<br><br>
							</div>
							<hr width=80% align="center" style="margin-left:46px">
						</div>
						<div class="row" style="margin-bottom:10px">
							<div class="col-md-1" style="margin-left:40px">
								<span style="color:#408940;"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
							</div>
							<div class="col-md-1">
								<img src="static/img/bg/60.png" alt="" style="width:50px;margin-top:-10px">
							</div>
							<div class="col-md-9">
								<h4 style="margin-left:-30px; margin-top:-8px">First Last hasn't completed Can Crushing.</h4>
								<br><br>
							</div>
							<hr width=80% align="center" style="margin-left:46px">
						</div>

						<h4 style="margin-left:30px">YESTERDAY</h4>
						<br>
						<div class="row" style="margin-bottom:10px">
							<div class="col-md-1" style="margin-left:40px">
								<span style="color:#408940;"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
							</div>
							<div class="col-md-1">
								<img src="static/img/bg/60.png" alt="" style="width:50px;margin-top:-10px">
							</div>
							<div class="col-md-9">
								<h4 style="margin-left:-30px; margin-top:-8px">First Last hasn't completed Can Crushing.</h4>
								<br><br>
							</div>
							<hr width=80% align="center" style="margin-left:46px">
						</div>
						<div class="row" style="margin-bottom:10px">
							<div class="col-md-1" style="margin-left:40px">
								<span style="color:#3fb0e0;"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
							</div>
							<div class="col-md-1">
								<img src="static/img/bg/60.png" alt="" style="width:50px;margin-top:-10px">
							</div>
							<div class="col-md-9">
								<h4 style="margin-left:-30px; margin-top:-8px">First Last hasn't completed Can Crushing.</h4>
								<br><br>
							</div>
							<hr width=80% align="center" style="margin-left:46px">
						</div>
						<div class="row" style="margin-bottom:10px">
							<div class="col-md-1" style="margin-left:40px">
								<span style="color:#408940;"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
							</div>
							<div class="col-md-1">
								<img src="static/img/bg/60.png" alt="" style="width:50px;margin-top:-10px">
							</div>
							<div class="col-md-9">
								<h4 style="margin-left:-30px; margin-top:-8px">First Last hasn't completed Can Crushing.</h4>
								<br><br>
							</div>
							<hr width=80% align="center" style="margin-left:46px">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- Footer -->
    <ng-include src="'templates/includes/footer.html'"></ng-include>
</div>
<!-- /.container -->
