<ng-include src="'templates/includes/nav.html'"></ng-include>
<!-- Page Content -->
<div class="container" ng-controller="profilesController">
    <div class="border row">
        <div class="border col-md-12">
            <div class="tasksBox">
                <div class="currentProfile">
                    <h1>You are currently viewing {Student's} shedule</h1>

                    <div class="row">
                        <div class="col-md-1" style="margin-left:-5px">

                        </div>
                        <div class="col-md-2" style="margin-left:-40px">
                            <img src="static/img/bg/60.png" alt="">
                            <p style="margin:0!important; text-align:center; margin-left:-85px!important;color:#00355D;">Firstname</p>
                            <p style="text-align:center; margin-left:-85px!important; margin-top:-7px; color:#00355D;">Lastlongername</p>
                        </div>
                        <div class="col-md-2" style="margin-left:-40px">
                            <img src="static/img/bg/60.png" alt="">
                            <p style="margin:0!important; text-align:center; margin-left:-85px!important; color:#00355D;">Firstname</p>
                            <p style="text-align:center; margin-left:-85px!important; margin-top:-7px; color:#00355D;">Lastlongername</p>
                        </div>
                        <div class="col-md-2" style="margin-left:-40px">
                            <img src="static/img/bg/60.png" alt="">
                            <p style="margin:0!important; text-align:center; margin-left:-85px!important; color:#00355D;">Firstname</p>
                            <p style="text-align:center; margin-left:-85px!important; margin-top:-7px; color:#00355D;">Lastlongername</p>
                        </div>
                        <div class="col-md-2" style="margin-left:-40px">
                            <img src="static/img/bg/60.png" alt="">
                            <p style="margin:0!important; text-align:center; margin-left:-85px!important; color:#00355D;">Firstname</p>
                            <p style="text-align:center; margin-left:-85px!important; margin-top:-7px; color:#00355D;">Lastlongername</p>
                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>

                    <h5 class="changeStudentShedule">Click on a photo to choose a different student's information</h5>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="border row">
        <div class="border col-md-12">
            <div class="tasksBox" style="padding:0 0 30px 0!important;">
                <div class="currentProfile">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10" style="margin-left: -24px;">
                                <h1 class="text-center" style=""><img src="static/img/icons/profile.png" style="margin-right: 30px;width: 50px;margin-top: -10px;" alt="">Profile Information</h1>
                            </div>
                            <br>
                            <div class="col-md-2">
                                <i class="fa fa-angle-down fa-5x" aria-hidden="true"></i>
                            </div>
                        </div>
                        <br><br>
                        <hr width=80% align="center" style="margin-left:46px">
                        <div class="row">
                            <div class="col-md-10" style="margin-left: 47px;width: 928px;">
                                <h1 class="text-center" style=""><img src="static/img/icons/emergency.png" style="margin-right: 30px;width: 50px;margin-top: -10px;" alt="">Emergency Information</h1>
                            </div>
                            <div class="col-md-2">
                                <i class="fa fa-angle-down fa-5x" aria-hidden="true" style="margin-left: -22px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
