<ng-include src="'templates/includes/nav.html'"></ng-include>
<div class="container" ng-controller="profileController">
  <div class="border row">
    <div class="border col-md-12">
<div class="border row">
    <div class="border col-md-12">
      <div class="wrapperBox" style="padding:0 0 30px 0!important;">
        <div class="currentBox">
          <div class="profile-accordion">
          <h1>Student inf</h1>
            <accordion>
              <accordion-group is-open="profile.open">
                <accordion-heading>
                  <div class="profile-acc">
                    <h1><img src="static/img/icons/profile.png" alt="Profile Icon">Profile Information <i class="fa fa-chevron-down" aria-hidden="true"></i></h1>
                  </div>
                </accordion-heading>
                <form class="profile-form">
                  <div class="form-heading">
                    <h4>I live at:</h4>
                  </div>
                  <div class="form-group">
                    <label for="street">Street Address:</label><br>
                    <input type="text" class="form-control" placeholder="{{ student.street }}">
                  </div>
                  <div class="form-group">
                    <label for="city">City:</label><br>
                    <input type="text" class="form-control" placeholder="{{ student.city }}">
                  </div>
                  <div class="form-group">
                    <label for="state">State:</label><br>
                    <input type="text" class="form-control" placeholder="{{ student.state }}">
                  </div>
                  <div class="form-group">
                    <label for="zip">Zip Code:</label><br>
                    <input type="text" class="form-control" placeholder="{{ student.zipcode }}">
                  </div>
                  <div class="form-heading">
                    <h4>Stuff I like:</h4>
                  </div>
                  <div class="form-group">
                    <label for="likes">Stuff I like:</label><br>
                    <input type="text" class="form-control" placeholder="{{ student.stuff_i_like }}">
                  </div>
                  <div class="form-heading">
                    <h4>I go to School at:</h4>
                  </div>
                  <div class="form-group">
                    <label for="school">School:</label><br>
                    <input type="text" class="form-control" placeholder="{{ student.school}}">
                  </div>
                  <div class="form-heading">
                    <h4>I work at:</h4>
                  </div>
                  <div class="form-group">
                    <label for="work">Work:</label><br>
                    <input type="text" class="form-control" placeholder="{{ student.work}}">
                  </div>

                  <button type="submit" class="newTaskBtn"><i class="fa fa-pencil"></i> Update Profile Information</button>
                </form>
              </accordion-group>

              <accordion-group is-open="emergency.open">
                <accordion-heading>
                  <div class="emergency-acc">
                    <h1><img src="static/img/icons/emergency.png" alt="Emergency Icon">Emergency Information <i class="fa fa-chevron-down" aria-hidden="true"></i></h1>
                  </div>
                </accordion-heading>
                <form class="profile-form">
                  <div class="form-heading">
                    <h4>In an emergency, contact (1st contact out of 2):</h4>
                  </div>
                  <div class="form-group">
                    <label for="name">Name:</label><br>
                    <input type="text" class="form-control" placeholder="{{ student.emergency_contacts[0].first_name }} {{ student.emergency_contacts[0].last_name }}">
                  </div>
                  <div class="form-group">
                    <label for="relationsip">Relationsip:</label><br>
                    <input type="text" class="form-control" placeholder="{{ student.emergency_contacts[0].relationship}}">
                  </div>
                  <div class="form-group">
                    <label for="phone">Phone Number:</label><br>
                    <input type="text" class="form-control" placeholder="{{ student.emergency_contacts[0].phone }}">
                  </div>
                  <div class="form-heading">
                    <h4>In an emergency, contact (2nd contact out of 2):</h4>
                  </div>
                  <div class="form-group">
                    <label for="name">Name:</label><br>
                    <input type="text" class="form-control" placeholder="{{ student.emergency_contacts[1].first_name }} {{ student.emergency_contacts[1].last_name }}">
                  </div>
                  <div class="form-group">
                    <label for="relationsip">Relationsip:</label><br>
                    <input type="text" class="form-control" placeholder="{{ student.emergency_contacts[1].relationship}}">
                  </div>
                  <div class="form-group">
                    <label for="phone">Phone Number:</label><br>
                    <input type="text" class="form-control" placeholder="{{ student.emergency_contacts[1].phone }}">
                  </div>
                  <div class="form-heading">
                    <h4>Medical:</h4>
                  </div>
                  <div class="form-group">
                    <label for="medical">Medical:</label><br>
                    <input type="text" class="form-control" placeholder="I am allergic to bees.">
                  </div>
                  <div class="form-heading">
                    <h4>You should know that:</h4>
                  </div>
                  <div class="form-group">
                    <label for="know">You should know that:</label><br>
                    <input type="text" class="form-control" placeholder="I don't like to be touched.">
                  </div>
                  <div class="form-heading">
                    <h4>At school:</h4>
                  </div>
                  <div class="form-group">
                    <label for="school">At school:</label><br>
                    <input type="text" class="form-control" placeholder="I don't like to be touched.">
                  </div>
                  <div class="form-heading">
                    <h4>At work:</h4>
                  </div>
                  <div class="form-group">
                    <label for="work">At work:</label><br>
                    <input type="text" class="form-control" placeholder="I don't like to be touched.">
                  </div>

                  <button type="submit" class="newTaskBtn"><i class="fa fa-pencil"></i> Update Emergency Information</button>
                </form>
              </accordion-group>
            </accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div></div></div>
<ng-include src="'templates/includes/footer.html'"></ng-include>