<ng-include src="'templates/includes/nav.html'"></ng-include>
<!-- Page Content -->
<div class="container" ng-controller="profilesController">
    <div class="border row">
        <div class="border col-md-12">
            <div class="profilesBox">
                <div class="currentProfile">
                    <h1>You are currently viewing Student's information</h1>
                    <ul class="studentList">
                        <li>First Last</li>
                        <li>First Last</li>
                        <li>First Last</li>
                        <li>First Last</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->
