<ng-include src="'templates/includes/nav.html'"></ng-include>

<div class="container" ng-controller="schedulesController">
    <div class="border row">
        <div class="border col-md-12">
            <div class="wrapperBox">
                <div class="currentBox">
                    <h1>You are currently viewing {Student's} shedule</h1>

                    <div class="row">
                        <div class="col-md-1" style="margin-left:-5px"></div>

                        <div class="col-md-2" style="margin-left:-40px">
                            <img src="static/img/bg/60.png" alt="">
                            <p style="margin:0!important; text-align:center; margin-left:-85px!important;color:#00355D;">Firstname</p>
                            <p style="text-align:center; margin-left:-85px!important; margin-top:-7px; color:#00355D;">Lastlongername</p>
                        </div>
                        <div class="col-md-2" style="margin-left:-40px">
                            <img src="static/img/bg/60.png" alt="">
                            <p style="margin:0!important; text-align:center; margin-left:-85px!important; color:#00355D;">Firstname</p>
                            <p style="text-align:center; margin-left:-85px!important; margin-top:-7px; color:#00355D;">Lastlongername</p>
                        </div>
                        <div class="col-md-2" style="margin-left:-40px">
                            <img src="static/img/bg/60.png" alt="">
                            <p style="margin:0!important; text-align:center; margin-left:-85px!important; color:#00355D;">Firstname</p>
                            <p style="text-align:center; margin-left:-85px!important; margin-top:-7px; color:#00355D;">Lastlongername</p>
                        </div>
                        <div class="col-md-2" style="margin-left:-40px">
                            <img src="static/img/bg/60.png" alt="">
                            <p style="margin:0!important; text-align:center; margin-left:-85px!important; color:#00355D;">Firstname</p>
                            <p style="text-align:center; margin-left:-85px!important; margin-top:-7px; color:#00355D;">Lastlongername</p>
                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>

                    <h5 class="changeStudentShedule">Click on a photo to choose a different student's shedule</h5>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div class="border row">
        <div class="border col-md-12">
            <div class="wrapperBox" style="padding:0 0 30px 0!important;">
                <div class="currentBox">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <h2 style="padding-top:0!important">{Student's} Task Shedule</h2>
                            </div>
                            <div class="col-md-4">
                                <button ui-sref="viewWeekly" class="viewWeeklyScheduleBtn">VIEW {STUDENT'S} WEEKLY SHEDULE</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 style="margin-left:30px">Can Crushing &nbsp;&nbsp;<span><a href=""><i class="fa fa-pencil fa-1x" style="color:#54AAEC;" aria-hidden="true"></i><span style="font-size:12px; color:#54AAEC;"> EDIT TASK</span></a></span></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" placeholder='For example, "take bus to Giant"' style="width:360px; padding:5px; margin-left:28px; margin-top:10px">
                            </div>
                            <div class="col-md-1" style="margin-top: -12px; margin-left:40px">
                                <span class="date">DATE</span><br>
                                <i class="fa fa-calendar-o fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-1" style="margin-top: -12px; margin-left:40px">
                                <span class="startTime">START TIME</span><br>
                                <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-1" style="margin-top: -12px; margin-left:40px">
                                <span class="endTime">END TIME</span><br>
                                <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-3">
                                <div class="checkBox">
                                    <label>
                                        <input type="checkbox" value="">
                                        <span>Make recurring?</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <button class="viewWeeklyScheduleBtn" data-toggle="modal" data-target=".supporter-modal">ADD A SUPPORTER FOR THIS TASK</button>
                            </div>
                            <div class="col-md-8">

                            </div>
                            <hr width=80% align="center" style="margin-left:46px">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 style="margin-left:30px">Can Crushing &nbsp;&nbsp;<span><a href=""><i class="fa fa-pencil fa-1x" style="color:#54AAEC;" aria-hidden="true"></i><span style="font-size:12px; color:#54AAEC;"> EDIT TASK</span></a></span></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" placeholder='For example, "take bus to Giant"' style="width:360px; padding:5px; margin-left:28px; margin-top:10px">
                            </div>
                            <div class="col-md-1" style="margin-top: -12px; margin-left:40px">
                                <span class="date">DATE</span><br>
                                <i class="fa fa-calendar-o fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-1" style="margin-top: -12px; margin-left:40px">
                                <span class="startTime">START TIME</span><br>
                                <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-1" style="margin-top: -12px; margin-left:40px">
                                <span class="endTime">END TIME</span><br>
                                <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-3">
                                <div class="checkBox">
                                    <label>
                                        <input type="checkbox" value="">
                                        <span>Make recurring?</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <button class="viewWeeklyScheduleBtn" data-toggle="modal" data-target=".supporter-modal">ADD A SUPPORTER FOR THIS TASK</button>
                            </div>
                            <div class="col-md-8">

                            </div>
                            <hr width=80% align="center" style="margin-left:46px">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 style="margin-left:30px">Can Crushing &nbsp;&nbsp;<span><a href=""><i class="fa fa-pencil fa-1x" style="color:#54AAEC;" aria-hidden="true"></i><span style="font-size:12px; color:#54AAEC;"> EDIT TASK</span></a></span></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" placeholder='For example, "take bus to Giant"' style="width:360px; padding:5px; margin-left:28px; margin-top:10px">
                            </div>
                            <div class="col-md-1" style="margin-top: -12px; margin-left:40px">
                                <span class="date">DATE</span><br>
                                <i class="fa fa-calendar-o fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-1" style="margin-top: -12px; margin-left:40px">
                                <span class="startTime">START TIME</span><br>
                                <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-1" style="margin-top: -12px; margin-left:40px">
                                <span class="endTime">END TIME</span><br>
                                <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-3">
                                <div class="checkBox">
                                    <label>
                                        <input type="checkbox" value="">
                                        <span>Make recurring?</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <button class="viewWeeklyScheduleBtn" data-toggle="modal" data-target=".supporter-modal">ADD A SUPPORTER FOR THIS TASK</button>
                            </div>
                            <div class="col-md-8">

                            </div>
                            <hr width=80% align="center" style="margin-left:46px">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 style="margin-left:30px">Can Crushing &nbsp;&nbsp;<span><a href=""><i class="fa fa-pencil fa-1x" style="color:#54AAEC;" aria-hidden="true"></i><span style="font-size:12px; color:#54AAEC;"> EDIT TASK</span></a></span></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" placeholder='For example, "take bus to Giant"' style="width:360px; padding:5px; margin-left:28px; margin-top:10px">
                            </div>
                            <div class="col-md-1" style="margin-top: -12px; margin-left:40px">
                                <span class="date">DATE</span><br>
                                <i class="fa fa-calendar-o fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-1" style="margin-top: -12px; margin-left:40px">
                                <span class="startTime">START TIME</span><br>
                                <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-1" style="margin-top: -12px; margin-left:40px">
                                <span class="endTime">END TIME</span><br>
                                <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-3">
                                <div class="checkBox">
                                    <label>
                                        <input type="checkbox" value="">
                                        <span>Make recurring?</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <button class="viewWeeklyScheduleBtn" data-toggle="modal" data-target=".supporter-modal">ADD A SUPPORTER FOR THIS TASK</button>
                            </div>
                            <div class="col-md-8">

                            </div>
                            <hr width=80% align="center" style="margin-left:46px">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 style="margin-left:30px">Can Crushing &nbsp;&nbsp;<span><a href=""><i class="fa fa-pencil fa-1x" style="color:#54AAEC;" aria-hidden="true"></i><span style="font-size:12px; color:#54AAEC;"> EDIT TASK</span></a></span></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" placeholder='For example, "take bus to Giant"' style="width:360px; padding:5px; margin-left:28px; margin-top:10px">
                            </div>
                            <div class="col-md-1" style="margin-top: -12px; margin-left:40px">
                                <span class="date">DATE</span><br>
                                <i class="fa fa-calendar-o fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-1" style="margin-top: -12px; margin-left:40px">
                                <span class="startTime">START TIME</span><br>
                                <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-1" style="margin-top: -12px; margin-left:40px">
                                <span class="endTime">END TIME</span><br>
                                <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-3">
                                <div class="checkBox">
                                    <label>
                                        <input type="checkbox" value="">
                                        <span>Make recurring?</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <button class="viewWeeklyScheduleBtn" data-toggle="modal" data-target=".supporter-modal">ADD A SUPPORTER FOR THIS TASK</button>
                            </div>
                            <div class="col-md-8">

                            </div>
                            <hr width=80% align="center" style="margin-left:46px">
                        </div>
                    </div>
                    <div class="row">
                        <a href="">
                            <div class="col-xs-1" style="margin-left:48px">
                                <span class="fa fa-caret-down fa-3x"></span>
                            </div>
                            <div class="col-xs-11 showMoreTasks" style="margin-left:-60px; margin-top:12px; margin-bottom: 80px;">
                                <span>SHOW MORE TASKS</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <ng-include src="'templates/includes/footer.html'"></ng-include>
</div>
<!-- /.container -->

<!-- Select Supporter Modal -->
<div class="modal fade supporter-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h1 class="modal-title" id="myModalLabel">Choose a Supporter for this student's task.</h1>
        </div>
        <div class="modal-body">
            <div class="dropdown supporter-dropdown">
                <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Supporter
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li>Cate Watson</li>
                </ul>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- End Select Supporter Modal -->
