<ng-include src="'templates/includes/nav.html'"></ng-include>

<div class="container" ng-controller="schedulesController">
    <div class="border row">
        <div class="border col-md-12">
            <div class="wrapperBox">
                <div class="currentBox">
                    <h1>Choose a student</h1>

                    <div class="row">
                        <div class="col-md-1" style="margin-left:-5px"></div>

                        <div class="col-md-2" style="margin-left:-40px"
                            ng-repeat="user in users">
                            <a href = "/imr-supporter/#/schedules/day/{{ user.pk }}">
                                <p style="margin:0!important; text-align:center; margin-left:-85px!important;color:#00355D;">{{ user.first_name }}</p>
                                <p style="text-align:center; margin-left:-85px!important; margin-top:-7px; color:#00355D;">{{ user.last_name }}</p>
                            </a>
                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    

