<ng-include src="'templates/includes/nav.html'"></ng-include>

<div class="container" ng-controller="taskController">
    <div class="border row">
        <div class="border col-md-12">
            <div class="wrapperBox">
                <div class="currentBox">
                    <h1>Tasks Dashboard</h1>
                    <button ui-sref="createTask" class="newTaskBtn">CREATE A NEW TASK</button>
                    <h2>Choose an existing task...</h2>

                    <div class="container-fluid">
                        <table class="table">
                            <tbody>
                                <tr ng-repeat="task in tasks">
                                    <td class="tdTitle">{{ task.title }}</td>
                                    <td></td>
                                    <td class="text-right"><a data-toggle="modal" data-target=".preview-modal" ng-click="showTask(task)">PREVIEW</a> | <a href="/imr-supporter/#/tasks/edit/{{ task.pk }}">EDIT</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- <div class="row">
                        <a ui-sref="createTask">
                            <div class="col-xs-1" style="margin-left:30px">
                                <span class="fa fa-caret-down fa-3x"></span>
                            </div>
                            <div class="col-xs-11 showMoreTasks" style="margin-left:-60px; margin-top:12px; margin-bottom: 80px;">
                                <span>SHOW MORE TASKS</span>
                            </div>
                        </a>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <ng-include src="'templates/includes/footer.html'"></ng-include>
    <!-- Preview Supporter Modal -->
<div class="modal fade preview-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-eye"></i><em> {{ task.title }}</em></h4>
            </div>
            <div class="modal-body">
                <div class="task-title">
                    <img src="{{ task.image }}">
                    <h3>{{ task.title }}</h3>
                </div>

                <div class="task-item" ng-repeat="step in task.steps track by $index">
                    <p>Step {{ $index + 1 }}</p>
                    <img src="{{ step.image }}">
                    <p class="task-text"><em>{{ step.title }}</em></p>
                    <p class="task-text">{{ step.text }}</p>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<!-- End Select Supporter Modal -->
</div>
<!-- /.container -->
