<ng-include src="'templates/includes/nav.html'"></ng-include>

<div class="container" ng-controller="taskController">
    <div class="border row">
        <div class="border col-md-12">
            <div class="wrapperBox">
                <div class="currentBox">
                    <h1>Tasks Dashboard</h1>
                    <button ui-sref="createTask" class="newTaskBtn">CREATE A NEW TASK</button>
                    <h2>Choose an existing task...</h2>

                    <div class="container-fluid">
                        <table class="table">
                            <tbody>
                                <tr ng-repeat="task in tasks">
                                    <td class="tdTitle">{{ task.title }}</td>
                                    <td></td>
                                    <td class="text-right"><a data-toggle="modal" data-target=".preview-modal">PREVIEW</a> | <a href="">EDIT</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- <div class="row">
                        <a ui-sref="createTask">
                            <div class="col-xs-1" style="margin-left:30px">
                                <span class="fa fa-caret-down fa-3x"></span>
                            </div>
                            <div class="col-xs-11 showMoreTasks" style="margin-left:-60px; margin-top:12px; margin-bottom: 80px;">
                                <span>SHOW MORE TASKS</span>
                            </div>
                        </a>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <ng-include src="'templates/includes/footer.html'"></ng-include>
</div>
<!-- /.container -->

<!-- Preview Supporter Modal -->
<div class="modal fade preview-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-eye"></i><em> Can Crushing Preview</em></h4>
            </div>
            <div class="modal-body">
                <div class="task-title">
                    <img src="static/img/icons/mt.png">
                    <h3>Can Crushing</h3>
                </div>

                <div class="task-item">
                    <p>Step 1</p>
                    <img src="static/img/icons/mt.png">
                    <p class="task-text">Go to laundry room.</p>
                </div>

                <div class="task-item">
                    <p>Step 2</p>
                    <img src="static/img/icons/mt.png">
                    <p class="task-text">Rinse out the cans to be crushed in the sink.</p>
                </div>

                <div class="task-item">
                    <p>Step 3</p>
                    <img src="static/img/icons/mt.png">
                    <p class="task-text">Place one can at a time into the mechanism and crush! Can will fall into the bin at the bottom.</p>
                </div>

                <div class="task-item">
                    <p>Step 4</p>
                    <img src="static/img/icons/mt.png">
                    <p class="task-text">When the bin is full, collect the bag of cans and replace the liner.</p>
                </div>

                <div class="task-item">
                    <p>Step 5</p>
                    <img src="static/img/icons/mt.png">
                    <p class="task-text">Take the bag of crushed cans.</p>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<!-- End Select Supporter Modal -->

<!-- Preview Supporter Modal -->
<div class="modal fade preview-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-eye"></i><em> Can Crushing Preview</em></h4>
            </div>
            <div class="modal-body">
                <div class="task-title">
                    <img src="static/img/icons/mt.png">
                    <h3>{{ task.title }}</h3>
                </div>

                <div class="task-item">
                    <p>Step 1</p>
                    <img src="static/img/icons/mt.png">
                    <p class="task-text">Go to laundry room.</p>
                </div>

                <div class="task-item">
                    <p>Step 2</p>
                    <img src="static/img/icons/mt.png">
                    <p class="task-text">Rinse out the cans to be crushed in the sink.</p>
                </div>

                <div class="task-item">
                    <p>Step 3</p>
                    <img src="static/img/icons/mt.png">
                    <p class="task-text">Place one can at a time into the mechanism and crush! Can will fall into the bin at the bottom.</p>
                </div>

                <div class="task-item">
                    <p>Step 4</p>
                    <img src="static/img/icons/mt.png">
                    <p class="task-text">When the bin is full, collect the bag of cans and replace the liner.</p>
                </div>

                <div class="task-item">
                    <p>Step 5</p>
                    <img src="static/img/icons/mt.png">
                    <p class="task-text">Take the bag of crushed cans.</p>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<!-- End Select Supporter Modal -->
