<ng-include src="'templates/includes/nav.html'"></ng-include>
<!-- Page Content -->
<div class="container" ng-controller="dailyScheduleController">
    <div class="border row">
        <div class="border col-md-12">
            <div class="wrapperBox">
                <div class="currentBox">
                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            <ul class="nav nav-pills" style="margin-top: 40px; line-height: 12px;">
                                <li class="text-center listSchedule active"><a href="">Day</a></li>
                                <li class="text-center listSchedule"><a href="/imr-supporter/#/schedules/week/{{ pk }}">Week</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                    <div class="scheduleTitle">
                        <h1 class="text-center" style="margin-top:-60px">Daily Schedule for {{ schedule.user.first_name }} {{ schedule.user.last_name }}</h1>
                        <h3 class="text-center" style="color:#38ACF5"><a href=""><i class="fa fa-angle-left fa-2x" aria-hidden="true" style="margin-top: 15px;position: absolute;margin-left: -20px;"
                        ng-click="prevDay()"></i></a>{{ target | date:'MM/dd/yyyy'}}<a href=""><i class="fa fa-angle-right fa-2x" aria-hidden="true" style="    margin-top: 15px;position: absolute;margin-left: 20px;" ng-click="nextDay()"></i></a></h3>
                    </div>
                    <div style="margin-left:20px;margin-top:50px;"
                    ng-repeat="tod in ['morning', 'afternoon', 'evening']">
                      <div class="row">
                        <div class="col-md-2">
                            <p style="font-size:15px;color:#00355D;font-weight:bold;margin-top:-10px;">{{ tod | uppercase }}</p>
                        </div>
                        <div ng-repeat="task in schedule[tod]" class="row"
                            style="margin-left:190px;margin-bottom:40px"
                            ng-hide="task.hide">
                        <div class="col-md-2">
                            <img src="static/img/icons/placeholder.png" alt="">
                        </div>
                        <div class="col-md-8" style="background:#F9F8F8; width:45%; padding:0; border: solid 1px grey;">
                            <div>
                                <a class="button icon-right ion-chevron-right arrow2">
                                    <div class="col-xs-1" style="background: {{ task.task.task_type.color }}; height: 112px;"></div>

                                    <div class="col-xs-2" style="padding:19px;">
                                        <img src="{{ task.task.task_type.image }}" class="icon2" alt="" width="65px">
                                    </div>
                                    <!-- <div class="col-xs-9"  ng-class="task.status='done' ? 'done' : 'clear'"> -->
                                    <div class="col-xs-9"  
                                        ng-class="{ 'done': task.task.status=='done'}">
                                        <h6 class="time">{{ task.start_time }} -
                                        {{ task.end_time }}</h6>
                                        <h5 class="task">
                                        {{ task.title }} <i class="fa fa-trash-o" style="color:red;margin-right:5px" ng-click="deleteEvent(task.pk);task.hide=true"></i></h5>
                                        <p class="text-right" style="color:red;margin-top:10px"
                                          ng-show="!task.task.daily && task.days_of_week != ''">Every {{ task.days_of_week }}</p>
                                        <p class="text-right" style="color:red;margin-top:10px"
                                          ng-show="task.task.daily">Every {{ day }}</p>
                                        <p class="text-right" style="color:red;margin-top:10px"
                                          ng-show="!task.task.daily && task.days_of_month != ''">Every {{ task.days_of_month }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <ng-include src="'templates/includes/footer.html'"></ng-include>
</div>
<!-- /.container -->
